.written-review {
    padding-top: 1.5rem;
    display: flex;
    align-items: center
}

.written-review .profile-img {
    border-radius: 50%;
    margin-right: 0.5rem;
    width: 44px;
    height: 44px;
    overflow: hidden
}

.written-review .written,
.written-review .review {
    position: relative;
}

.written-review .review {
    margin-left: 1rem
}

.written-review .name {
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer
}

.written-review .auth-detail {
    width: 550px;
    background: #fff;
    box-shadow: -4px -2px 12px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0.5rem;
    padding: 0.6rem;
    position: absolute;
    margin-top: 0.5rem;
    display: none;
    z-index: 99999
}

.written-review .auth-detail.in {
    display: block
}

.written-review .auth-detail:before {
    content: '';
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    left: 20%;
    position: absolute;
    top: -20px;
    height: 10px;
}

.written-review .auth-detail .head {
    display: flex;
}

.written-review .auth-detail .name {
    font-weight: 600;
    text-decoration: none;
    cursor: none
}

.written-review .auth-detail .name small {
    display: block;
    font-weight: 400
}

.written-review .auth-detail .desc {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    top: 0
}

@media only screen and (max-width:768px) {
    .written-review .auth-detail {
        width: 300px;
        left: -10%
    }

    .written-review .review .auth-detail {
        left: -74%
    }

    .written-review .auth-detail:before {
        left: 40%;
    }
}
