
main > .section > div {
  max-width: 1200px;
  margin: auto;
}

main > .section:first-of-type {
  margin-top: 0;
}


/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}
